* {
	box-sizing: border-box;
	margin: 0;
}
ul {
	min-height: 100px;
	min-width: 100px;
	list-style: none;
}
html,
body,
#root,
.App {
	height: 100%;
	background-color: whitesmoke;
	width: 100%;
}
.column {
	float: left;
}
.row {
	height: 100%;
	width: 100%;
}
.left,
.right {
	height: 100%;
	width: 35%;
}
.middle {
	width: 30%;
	height: 100%;
}
.row:after {
	content: '';
	display: table;
	clear: both;
}
.box {
	height: 80%;
	width: 80%;

	margin: auto;
	border-radius: 4px 0px 4px 0px;
	margin-bottom: 25%;
	border-collapse: separate;
	vertical-align: middle;
	overflow-y: auto;
}
h1 {
	text-align: center;
	padding: 10%;
}
.ListItem {
	height: 80%;
	width: 100%;
	border: 1px solid black;
	border-radius: 25px;
	margin-top: 20%;
}
.alreadyBought,
.toBuy {
	height: 100%;
	width: 100%;
}
.item {
	margin-top: 5%;
	width: 90%;
}

.Main {
	height: 100%;
	width: 100%;
	padding-top: 20%;
}
