.App {
	background-color: white;
	margin: auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
		0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 30px;
}
.toBuy {
	height: fit-content;
	width: fit-content;
}
.alreadyBought {
	height: fit-content;
	width: 200px;
}
.uncompletedItem {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}
.uncompletedItem input {
	margin-top: auto;
	margin-bottom: auto;
}
.Main {
	display: flex;
	flex-direction: column;
}
.Main form {
	display: flex;
	flex-direction: column;
}
.Main form input {
	margin: 20px;
}
.Main form button {
	background-color: rgb(27, 135, 236);
	color: white;
	border: none;
	width: 50%;
	margin: auto;
}
